.cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 51;
    opacity: 0;
    pointer-events: none;
}
.cart {
    position: relative;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 1.6rem;
    border-radius: 2rem;
    margin: 0;
    background: white;
}
.cart .close__cart {
    font-size: 30px;
    cursor: pointer;
}
.cart h2 {
    text-align: center;
    margin-top: 20px;
}
.cart__content {
    max-height: 485px;
    height: 100%;
    overflow-y: scroll;
}
.cart__item img {
    width: 9.5rem;
}
.cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
}
.cart__item div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart__item div input {
    width: 35%;
}
.cart__item .quantity {
    font-size: 20px;
}
.remove__item {
    font-size: 30px;
    color: rgb(255, 45, 45);
    cursor: pointer;
}
.cart__footer {
    text-align: center;
    margin-bottom: 3rem;
}
  
.cart__footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.cart__footer .btn {
    display: inline-block;
    padding: 20px 35px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}
.cart__footer .pay__cart {
    background: rgb(255, 61, 61);
    color: white;
    padding: 20px 35px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}
.cart__overlay.show {
    opacity: 1;
    pointer-events: all;
}

.alert {
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 18%;
    left: 50%;
    z-index: 99;
    text-align: center;
    background: white;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.alert i {
    font-size: 90px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(139 231 0);
}
.alert p {
    font-size: 20px;
    font-weight: 500;
    color: hotpink;
}
.alert.show {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 1300px) {
    .cart {
        width: 75%;
    }
}

@media (max-width: 992px) {
    .cart {
        width: 100%;
        border-radius: 0;
    }
    .cart__content {
        max-height: 250px;    
    }
    .cart__item div input {
        min-width: 26%;
    }
}

@media (max-width: 800px) {
    .cart__item {
        width: 80%;
    }
}
@media (max-width: 690px) {
    .cart__item {
        width: 90%;
        margin: 1rem auto;
    }
    .cart__content {
        max-height: 220px;
    }    
}
@media (max-width: 590px) {
    .cart__item {
        width: 100%;
    }
}
@media (max-width: 540px) {
    .cart__content {
        max-height: 170px;
    }    
    .cart__item img {
        width: 7rem;
    }
    .cart__item h3 {
        font-size: 17px;
    }
    .cart__footer h3 {
        font-size: 1.5rem;
    }
    .cart__footer .pay__cart {
        font-size: 18px;
        padding: 10px 20px;
    }
    .cart__footer {
        margin-bottom: 20px;
    }
    .remove__item {
        font-size: 22px;
    }
    .cart__item .quantity {
        font-size: 17px;
    }
    .cart__item div input {
        width: 100%;
    }
    .cart__item div:nth-child(3) {
        justify-content: center;
        width: 27px;
    }
}
@media (max-width: 400px) {
    .cart__content {
        max-height: 155px;
    }    
    .cart__item img {
        width: 6rem;
    }
    .cart__item h3 {
        font-size: 15px;
    }
}