@media (max-width: 992px) {
    .menu-toggle {
        color: white
    }
    .navbar:hover {
        background: transparent;
    }
    .navbar:hover .cart__icon {
        color: white;
    }
    .navbar .menu-title {
        color: black;
    }
    .navbar:hover .image-logo {
        background-image: url(../images/logo-small-white.png);
    }
    .navbar:hover .logo span {
        color: white;
    }
}